# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
env/
venv/
.venv/

# Database
db.sqlite3

# Django
*.log
media/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db